*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
html{
    font-family: "Reem Kufi", sans-serif;
}
.bg{
    width: 100%;
    height: 100vh;
    z-index: -1;
}



section{
    position: relative;
    width: 100%;
    height: 100vh;
   text-align: center;
   display: flex;
   flex-direction: column;
   color: #fff;
    background-color:#2F3252 ;
}
h1 p{
    width: 50%;
}
.lessen{
    padding: 45px;
    display: flex;
    margin: 50 auto;
}
.video{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


section{
    height: 800%;
}
@media (max-width: 500px) {
   section{
    height: 500%;
   }
   #bg{
    display: none;
   }
    }
    @media (max-width: 1000px) {
   section{
    height: 500%;
   }
    }
        @media (max-width: 1500px) {
   section{
    height: 800%;
   }
    }
video{
object-fit: cover;
object-position: center;
    width: 100%;
    height: 100vh;
}